:root {
  --primary-color: #febd69;
  --primary-shadow: #d49644;
}

.card__container {
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  padding: 10px;
  color: black;
  text-decoration: none;
  position: relative;
  text-align: center;
}

.card__container:hover .button {
  display: block;
}

.card__container img {
  padding: 10px;
  width: 100%; 
  max-height: 180px; 
  object-fit: contain; 
}

.button {
  display: none;
  padding: 5px 10px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  width: 100%;
  margin: 10px 0;
  border-radius: 30px;
  position: absolute;
  bottom: 10px; 
  left: 0;
}

.button:hover {
  background-color: var(--primary-shadow); 
}

.rating {
  display: flex;
  align-items: center;
  padding: 10px 0; 
}


.product__Container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 30px; 
  padding: 20px;
  margin: 100px auto;
}
a {
  color: black;
}
.product__flexed {
  box-shadow: none;
  height: auto;
  display: flex;
  gap: 20px; 
  width: 100%;
  flex-wrap: wrap; 
}

.product__flexed h3 {
  padding: 20px 0px;
}

.product__flexed .button {
  display: block;
  position: static;
  width: 150px;
  margin-right: 40px;
}

.product__flexed img {
  width: 180px; 
  height: auto;
  max-height: 200px; 
  object-fit: contain;
}
